:root {
    /*COLORES*/
    --colorAzul:#0077b6;
    --colorBlanco:#fff;
    --colorNegro:#000000;
    --colorAzulB:#00b4d8;
    /*FUENTES*/
    --fuente-principal: Arial, Helvetica, sans-serif;
}

