@import url(/css/variables/variables.css);

/*
Inicio del wireframe
*/

.main-wireframe {
    max-width: 90%;
    margin: auto;
}

.info-wireframe {
    max-width: 100%;
    text-align: center;
}

.info-wireframe h2 {
    margin: 1% 0 2%;
    color: var(--colorAzul);
}

.img-wireframe {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title title "
    "desktop1-D desktop2-D"
    "desktop3-D desktop4-D";
}

.title {
    color: var(--colorAzul);
}
.item {
    text-align: center;
}

.img-wireframe img{
   max-width: 40%;
}

.desktop1-D {
    grid-area: desktop1-D;
}
.desktop2-D {
    grid-area: desktop2-D;
}
.desktop3-D {
    grid-area: desktop3-D;
}
.desktop4-D {
    grid-area: desktop4-D;

}

/*wireframe version movil*/

.img-wireframe-M {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title           title"
    "desktop1-M desktop2-M"
    "desktop3-M desktop3-M"
    ;
}

.desktop1-M {
    grid-area: desktop1-M;
}
.desktop2-M {
    grid-area: desktop2-M;
}
.desktop3-M {
    grid-area: desktop3-M;
}

.img-wireframe-M img{
    max-width: 50%;
}


@media screen and (max-width: 600px) {
    /*Inicio del wireframe en movil*/

    .img-wireframe {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .img-wireframe img{
        max-width: 100%;
    }

    .img-wireframe p {
        font-size: .7rem;
    }


    /*Wireframe moviles*/
    .img-wireframe-M {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .img-wireframe-M img {
        max-width: 100%;
    }
}
